<div id="Wrapper">
    <div id="Header">
        <div class="inner">
            <h1 class="title">Feature Requests</h1>
            <div class="right">
                <span v-if="!settings && !edit_mode" @click="settings = true">
                    <svgimg class="settings" url="entypo/cog.svg" />
                </span>
            </div>
        </div>
    </div>
    <div id="Content">
        <settings :initialClients="clients" @close="close_settings" v-if="settings" />
        <edit_feature_request v-else-if="edit_mode" class="inner" :clients="clients"
                              :existing_id="editing" @close="close_edit" />
        <div v-else-if="feature_requests && !feature_requests.length" class="placeholder">
            No Entries.
        </div>
        <div class="inner" v-else-if="feature_requests">
            <feature_request :key="feature_request.id"
                             v-for="feature_request in feature_requests"
                             :feature_request="feature_request"
                             :client="client(feature_request.client_id)"
                             @edit="edit(feature_request.id)" @reload="load" />
        </div>
        <div v-else class="placeholder">Loading&hellip;</div>
        <transition name="fade">
            <div v-if="!edit_mode && !settings" class="add" @click="add">+</div>
        </transition>
    </div>
</div>
