<div id="Wrapper">
    <div id="Header">
        <div class="inner">
            <h1 class="title">Feature Requests</h1>
        </div>
    </div>
    <div id="Content">
        <div class="inner">
            <feature_request :key="feature_request.id"
                             v-for="feature_request in feature_requests"
                             :feature_request="feature_request" />
            <div v-if="!feature_requests" class="placeholder">Loading&hellip;</div>
        </div>
    </div>
</div>
