<!DOCTYPE html>
<html>
    <head>
        <title>Feature Requests</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <script>
         $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        {% if debug %}
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
        {% else %}
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js"></script>
        {% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
        <script src="https://unpkg.com/es5-shim@4.5.9"></script>
        <script src="https://unpkg.com/es6-shim@0.35.3"></script>
        
        <script src="https://cdn.rawgit.com/kyleperik/7db540178c088fe725ef3399766e126d/raw/880a39ab9e04ffbd02e272f95475570ae0100c0d/vue_utils.js"></script>
        <script src="{{ url_for('static', filename='scripts/start.js') }}"></script>
    </head>
    <body>
        <div id="Root">
            <app></app>
        </div>
    </body>
</html>
