body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

button {
    border: none;
    background-color: #FF5722;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px grey;
    transition: background 200ms;
}

button:hover {
    background-color: #ff9c7e;
}

button:active {
    background-color: #ff3d00;
}

.placeholder {
    color: grey;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#Wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#Header .inner,
#Content .inner {
    max-width: 500px;
}

#Header {
    background-color: #009988;
    color: white;
    z-index: 10;
    box-shadow: 0 0px 1px grey;
}

#Header .inner {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

#Header .title {
    margin: 10px 5px;
}

#Header .right {
    margin-left: auto;
    padding: 15px;
}

#Header .settings {
    width: 20px;
    height: 20px;
    fill: white;
    cursor: pointer;
    transition: fill 100ms;
}

#Header .settings:active {
    fill: #bfbfbf;
}

#Content {
    background-color: #e6e6e6;
    flex-grow: 1;
    overflow: auto;
}

#Content .inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px #b9b9b9;
}

#Content .add {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #009988;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    box-shadow: 0 1px 2px #616161;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: background 200ms, opacity 0.5s;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

#Content .add:hover {
    background-color: #48c7ba;
}

#Content .add:active {
    background-color: #FF5722;
}

.feature-request {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.feature-request > * {
    margin: 3px 10px;
}

/* Show dashed line before each feature request except the first */
.feature-request+.feature-request {
    border-top: 1px dashed #dadada;
}

.feature-request.deadline-soon {
    border-left: 3px solid red;
}

.feature-request .titlerow {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.feature-request .bottomrow {
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.feature-request .title {
    font-weight: bold;
    padding: 2px;
}

.feature-request .options {
    display: none;
    cursor: pointer;
    flex-direction: column;
    position: relative;
}

.feature-request .options svg {
    height: 20px;
    width: 20px;
    fill: #848484;
}

.feature-request:hover .options {
    display: initial;
}

.feature-request .options .list {
    position: absolute;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
    right: 0;
}

.feature-request .options .list .item {
    padding: 2px 10px;
    font-size: 18px;
}

.feature-request .options .list .item:hover {
    background-color: #FF5722;
    color: white;
}

.feature-request .client_name {
    background-color: #FF5722;
    color: white;
    padding: 1px 7px;
    margin: 0 5px;
    border-radius: 10px;
}

.feature-request .date {
    color: grey;
    font-style: italic;
}

.feature-request.deadline-soon .date {
    color: red;
}

#Content .inner.edit {
    padding: 10px;
    background-color: white;
}

.edit .form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #c5c5c5;
}

.edit input,
.edit textarea {
    border: none;
    font-family: inherit;
    font-size: 16px;
    padding: 3px;
    outline-color: #009988;
}

.edit .title {
    font-size: 20px;
}

.edit .target_date,
.edit .client {
    display: flex;
    border-color: inherit;
}

.edit .title,
.edit .description,
.edit .target_date {
    border-bottom: 1px dashed #e4e4e4;
}

.edit .target_date input,
.edit .target_date label,
.edit .client select,
.edit .client label {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.edit .target_date label,
.edit .client label {
    padding: 2px 10px;
    text-align: right;
}

.edit .client select {
    border: none;
    background-color: white;
    outline: none;
}

.edit .target_date input,
.edit .client select {
    padding: 2px 10px;
    border-left: 1px dashed #e4e4e4;
}

.edit textarea {
    resize: none;
}

.edit .buttons {
    display: flex;
    justify-content: space-between;
}

.inner.settings {
    background-color: white;
}

.inner.settings .title {
    font-weight: bold;
}

.inner.settings .clients {
    margin: 10px;
}

.inner.settings .clientList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inner.settings .client {
    margin: 3px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 1px 2px grey;
}

.inner.settings .client .handle {
    display: flex;
    align-items: center;
    cursor: move;
}

.inner.settings .client .handle svg {
    width: 16px;
    height: 16px;
    fill: white;
}

.inner.settings .client .priority {
    margin: 0 5px;
}

.inner.settings .client .name {
    border: none;
    padding: 2px 4px;
    background: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    outline-color: rgba(255, 255, 255, 0.4);
    transition: border 250ms;
}

.inner.settings .client .name:focus {
    border-color: white;
}

.inner.settings .footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}